<ul style="list-style-type:none;">
    <li><a href="{{ site.home }}/index.html">Home</a></li>
    <li><a href="{{ site.home }}/cv.html">CV</a></li>
    <li><a href="{{ site.home }}/publications.html">Publications</a></li>
    <li><a href="{{ site.home }}/research.html">Research</a></li>
    <li><a href="{{ site.home }}/teaching.html">Teaching</a></li>
    &nbsp;
    <li><a href="mailto:andrew.valentine@durham.ac.uk"><i class="fas fa-envelope"></i></a> 
        <a href="https://github.com/valentineap"><i class="fa-brands fa-github"></i></a> 
        <a href="https://twitter.com/a_p_valentine"><i class="fa-brands fa-twitter"></i></a> 
        <a href="https://www.linkedin.com/in/andrew-valentine-b9700492/"><i class="fa-brands fa-linkedin"></i></a> 
    </li>
</ul>